* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle at top, #020617, #000000);
  color: #e5e7eb;
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Share Tech Mono', monospace;
  color: #22c55e;
}

button {
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #22c55e;
}